<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Quattrocento+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include navigation.html %}
    <div class="row">
      <div class="header-top">
        <div class="logo">
          <img src="/assets/img/Logo.png" alt="">
        </div>
      </div><!-- header-top -->
      {% include latest-news.html %}
    </div><!-- row -->
    <hr>
    {{ content }}
  </body>
</html>
